@import url('https://fonts.googleapis.com/css?family=Mali&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Aclonica&display=swap');
@import url('https://fonts.googleapis.com/css?family=Carter+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Caveat&display=swap');
body, html {
  height: 100%;
  background-color: black;
}

.bgimg-1{
  position: relative;
  opacity: 1;
  background-attachment:fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  

}
.bgimg-1 {
  background-image: url("./images/hikaduwa.jpg");
  min-height:100%;
  
  opacity:1;
}


.navigation_bar{
  overflow: hidden;
  background:transparent;
  padding:20px;
  
  
  
}
.navigation_bar a.siteName{
	font-family: 'Carter One', cursive;
	font-size:30px;
}
.navigation_bar a{
  float:left;
  color:white;
  text-align:center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px; 
  letter-spacing:3px;
  font-family: 'Carter One', cursive;
}

	
	
.navigation_bar a:hover{
	background-color:#9babc4;
	color:white;
	opacity:0.5;
}


.locationName{
	text-align:center;
	font-family: 'Carter One', cursive;
	position:absolute;
	top:200px;
	left:550px;
	color:white;
	letter-spacing:6px;
	font-size:50px;
	border:2px solid white;
	padding:7px 9px 7px 9px;
	
}
.location p{
	font-family: 'Caveat', cursive;
	font-size:35px;
	text-align:center;
	color:white;
	font-weight:10px;
	position:absolute;
	bottom:130px;
	left:420px;
	width:600px;
	
	
	
}

.topic{
	color:white;
	text-align:center;
	font-family: 'Caveat', cursive;
	top:80px;
	background-color:black;
	font-size:40px;
	
}
.info{
	text-align:center;
	font-size:18px;
	color:white;
	letter-spacing:1px;
	padding:40px;
	background-color:black;
	
}
.image{
	padding:20px;
	justify-content:center;
	display:flex;
	flex-wrap:wrap;
	position:absolute;
	left:160px;
	background-color:black;
}
.image img{
	height:300px;
	width: 350px;
	
	
	
}
.image-box{
	box-sizing: content-box;
	margin: 10px;
	height: 300px;
	width: 350px;
	overflow: hidden;
	display: inline-block;
	color: white;
	position: relative;
	border-radius:50px;
	
	
}
.caption{
	position: absolute;
	bottom:150px;
	left:120px;
	color:white;
	
}
.caption p{
	font-size:20px;
}
.cap-box{
	height:400px;
	width: 350px;
	
	position: absolute;
	top:0;
	left:0;
	
	font-family: 'Caveat', cursive;
	
}


.para{
	width:350px;
	height:480px;
	border:2px solid white;
	border-radius:50px;
	position:absolute;
	top:1265px;
	left:185px;
	
}
.parain p{
	text-align:center;
	color:white;
	position:absolute;
	top:8px;
	padding:4px;
	font-size:18px;
}
.para2{
	width:350px;
	height:380px;
	border:2px solid white;
	border-radius:50px;
	position:absolute;
	top:1265px;
	left:558px;
	
}
.para2in p{
	text-align:center;
	color:white;
	position:absolute;
	top:8px;
	padding:8px;
	font-size:18px;
}
.para3{
	width:350px;
	height:480px;
	border:2px solid white;
	border-radius:50px;
	position:absolute;
	top:1265px;
	left:930px;
	
}
.para3in p{
	text-align:center;
	color:white;
	position:absolute;
	top:8px;
	padding:8px;
	font-size:18px;
}
.main{
	font-family: 'Caveat', cursive;
	letter-spacing:3px;
	font-size:20px;
}