@import url('https://fonts.googleapis.com/css?family=Aclonica&display=swap');

* {
    font-family: Aclonica;
}

body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    color: white
}

.bg {
    background-image: url("./images/yaka3.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 50px;
    animation: 3s change-opacity 5ms;
    text-align: center;
    position: absolute;
    top: 25%;
    color: #f0f0f0;
}

@keyframes change-opacity {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    position: absolute;
    top: 50%;
    color: white;
    padding: 0 10px
}

table {
    border-collapse: collapse;
    border: none;
}

table,
td {
    padding: 15px;
    border: none;
    animation: 3s change-opacity 5ms;

}
