@import url('https://fonts.googleapis.com/css?family=Mali&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Aclonica&display=swap');
@import url('https://fonts.googleapis.com/css?family=Carter+One&display=swap');

* {
    box-sizing: border-box;
    font-family: monospace;
    color: #ffffff;
}

html, body {
    margin: 0%;
    padding: 0%;
}

.main-header{
    background-image: url("./images/yaka3.jpg");
    background-size: cover;
    padding-bottom: 30px;
    height: 900px;
    position: static;
}

.logo-image {
    height: 300px;
    width: auto;
    padding-bottom: 0px;
}

.nav ul {
    margin: 0%;
    padding: 1px;
}

.nav li {
    display: inline;
    margin: 5%;
}

.nav a {
    display: inline-block;
    padding: .5em;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.nav a:hover {
    background-color: rgba(285, 207, 198, .3);
}

.main-nav {
    text-align: center;
    font-size: 1.5em;
    font-weight: lighter;
    border-bottom: 1px solid rgb(255, 255, 255);
    
}

.main-nav li {
    padding: 0 2%;
}

.name {
    text-align: center;
    margin: 0;
    font-size: 3em;
    font-weight: normal;
    color: white;
}

.name-large {
    padding-top: 0%;
    font-size: 8em;
    font-weight: bold;
}

.content-section {
    margin: 1em;
}

.container {
    max-width: 10000px;
    margin: 0 auto;
    padding: 0 1.5em;
}

.section-header {
    font-weight: bold;
    color: black;
    text-align: center;
    font-size: 3em;
}

.content-name {
    font-size: 1.25em;
    font-weight: bold;
    color: black;
}

.primary-content-name {
    font-size: 1em;
    font-weight: normal;
    color: black;
}

.main-footer {
    background-color: black;
    color: white;
    padding: .25em 0;
}

.main-footer-container {
    display: flex;
    align-items: center;
}

.btn-footer {
    margin: .5em 15% 2em 15%;
    color: white;
    border: 1px solid white;
    background-color: rgba(255, 266, 255, .1);
    font-size: 1.5em;
    font-weight: lighter;
    margin-bottom: 0%;
    margin-top: 0%;
}

.btn-footer:hover {
    background-color: rgba(255, 266, 255, .3);
}

.form-section {
    margin: 5%;
    padding: 3%;
}

.form-input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    transition: 0.5s;
    transition: 0.5s;
    outline: none;
    color: black;
}
  
.form-input:focus {
    border: 3px solid #555;
}
  
.btn {
    text-align: center;
    font-size: 1em;
    vertical-align: center;
    padding: .67em;
    cursor: pointer;
}

.btn-header {
    font-size: .6em;
    padding-top: 0;
    padding-bottom: 0;
    color: white;
    border: 2px solid white;
    background-color: rgba(234, 49, 49, .1);
    border-radius: 0;
    font-weight: lighter;
}

.btn-header:hover {
    background-color: rgba(255, 266, 255, .3);
}

.btn-primary {
    color: black;
    background-color: #5DADE2;
    border: none;
    border-radius: .5em;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #3498DB;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.grid-item {
    border: none;
    padding: 20px;
    text-align: center;
}

.shop-item {
    margin: 30px;
}

.shop-item-title {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-bottom: 15px;
}

.shop-item-image {
    height: 200px;
    width: auto;
}

.shop-item-details {
    display: flex;
    align-items: center;
    padding: 5px;
}

.shop-item-price {
    flex-grow: 1;
    color: #333;
}

.shop-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cart-header {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 35%;
}

.cart-price {
    width: 35%;
    font-size: 1.3em;
    color: black;
    justify-content: center;
}

.cart-quantity {
    width: 35%;
    justify-content: center;
}

.cart-item-title {
    color: black;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.btn-remove {
    color: white;
    background-color: rgb(241, 11, 11);
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-remove:hover {
    background-color: rgb(210, 15, 15);
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid aquamarine;
    background-color: white;
    color: black;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    font-size: 1.2em;
    color: black;
}

.confirm-btn {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
    background-color: #CCD1D1;
}

.confirm-btn:hover {
    background-color: #B2BABB;
}

.purchase-btn {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
    background-color: #A9CCE3;
}

.purchase-btn:hover {
    background-color: #7FB3D5;
}

a {
    text-decoration: none;
}

.cd-link {
    color: black;
}